In [1]:
import pandas as pd
from csv import writer

In [2]:
class Product:
    # HINT TO TEST THE CODE : 
    # p = Product()
    # p.getProductInfo(1)

    def __init__(self):
        self.products = pd.read_csv (r'product_ASE.csv')
    
    def getProductInfo(self, product_id):
        self.products.reset_index(inplace=True)
        self.products = self.products.rename(columns = {'index':'id'})
        
        final_product_set = self.products[self.products['id'] == product_id]
        return final_product_set

In [4]:
p = Product()
p.getProductInfo(1)

,id,product_name,brand,warehouse,selling_cost,reviews,cost_price,quantity
1,1,LG G1 Gallery Series OLED,LG,w2,$200,3.7,$300,1